@media screen and (max-width:768px) {
    .row{
        --bs-gutter-x: 0rem !important    ;
    }
}

body{
    overflow-x: hidden;
}

#overlay{
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

.hoverControl{
    position: relative;
    /* transform: translate(160px , calc(-75px + 5vh + 90vh - 45vh - 42px)); */
    transform: translate(145px , calc(-60px + 5vh + 90vh - 45vh - 42px));

}

#hoverPoint{
    position: absolute;
    background: linear-gradient(0deg, #F2C94C 0%, rgba(242, 201, 76, 0) 28.02%, rgba(242, 201, 76, 0) 100%);
    padding: 2px;
    max-width: fit-content;
    cursor: pointer;
}

#hoverPoint:hover{
    background: linear-gradient(0deg, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
}

.hoverBomb{
    display: none;
}

#overlay h3{
    margin-bottom: 0px !important;
}

.overlayImg{
    border: 1px solid #000000;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.dimLine{
    position: absolute;
    width: calc(100vw - 10vh);
    margin-left: 5vh;
    height: 1px;
}

.gridLine{
    opacity: 0.5;
    border: 1px dashed #FF0000;
}

.dimDim{
    border: 1px solid #FF0000;
}

.dimHorizontal{
    margin-top: 80vh;
}

.dimHorizontal h3{
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.figmaBox{
    position: absolute;
    margin-top: calc(-75px + 5vh + 90vh - 45vh);
    transform: translate(-10px, -50%);
    height: calc(377.781px + 20px);
    width: calc(520px + 20px);
    border: 2px solid #3BA9FC;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#boxDim{
    background: #3BA9FC;
    color: #ffffff;
    width:fit-content;
    border-radius: 4px;
    transform: translateY(30px);
}

#boxDimSmall{
    display: none;
    background: #3BA9FC;
    color: #ffffff;
    width:fit-content;
    border-radius: 4px;
    transform: translateY(30px);
}


#designedOn{
    position: absolute;
    display: flex;
    margin-top: calc(-75px + 5vh + 90vh - 45vh + 210px);
    transform: translateX(-15px);
    align-items: flex-end;
}


@media screen and (max-width:1366px) {
    .figmaBox{
        height: calc(232.79px + 20px);
        width: calc(380px + 20px);
    }

    .hoverControl h3{
        font-size: 14px;
    }

    .hoverControl{
        transform: translate(calc(150px - 48px) , calc(-75px + 5vh + 90vh - 45vh - 42px  + 31px));
    }

    #designedOn{
        margin-top: calc(-75px + 5vh + 90vh - 45vh + 137px);
    }

    #boxDim{
        display: none;
    }

    #boxDimSmall{
        display: block;
    }
}

@media screen and (max-width:1200px) {
    #overlay{
        display: none;
    }    
}

#overlayCol{
    float: right !important;
    margin-top: calc(-52px + 64px);
    margin-right: calc(262.72px - 138.31px + 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(-10px);
}

#boxModel{
    /* transform: translateX(-128.31px); */
    transform: translateX(-115px);

}

#greenBox{
    width: 128px;
    height: 50px;
    background: rgba(121, 177, 78, 0.4);
}

#blueBox{
    background: #689CD9;
    opacity: 0.5;
    width: 80px;
    height: 27px;
    transform:translate(24px,-37px)
}

.overlayRed{
    color: red;
}

#inspectPanel{
    transform: translate(0px , -30px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#inspectPanel>img{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#dialGif{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: translate(0 , -20px);
}

#dialGif>img{
    border-radius: 4px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}

#modeledOn, #integratedOn{
    display: flex;
    text-align: right;
    align-items: center;
}

#cover{
    margin-top: calc(-150px);
    position: relative;
	height: 100vh;
	width: 100vw;
    overflow: hidden;
}

#colors {
    /* position: absolute; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background: #fff;
	overflow: hidden;
}

#red{
    position: absolute;
    top: 25;
    left: 50;
    width: 40%;
    height: 30%;
    background: #FEB3B3;
    opacity: 0.4;
    border-radius: 100%;
}

#green{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 35%;
    height: 30%;
    background: #A1FEA5;
    opacity: 0.4;
    border-radius: 100%;
}

#blue{
    position: absolute;
    left: 80%;
    width: 30%;
    height: 30%;
    background: #9BFEFE;
    opacity: 0.4;
    border-radius: 100%;
}

#yellow{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 30%;
    background: #E8FEA5;
    opacity: 0.4;
    border-radius:100%;
}

#glass{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 10vh);
    height: 90vh;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.08) 28.69%, rgba(255, 255, 255, 0) 100%);
    box-shadow: INSET 0px 0px 100px 20px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border-radius: 24px;
}

.introText{
    margin-top: -40vh;
    transform: translate(0, -50%);
}

.innerText{
    max-width: 520px;
}

.introLinks a{
    padding-top: 1rem ;
    text-decoration:none;
}

.introLinks > a:nth-child(2){
    margin: 0 1.5rem;
}

.introLinks > a >img{
    width: 24px;
    height: 24px;
}

#hoverSwitch{
    padding: 2px;
    opacity: 0;
}

@media screen and (max-width:1200px) {
    #hoverSwitch{
        opacity: 1;
    }
}

#greyLine{
    width: 25px;
    height: 0px;
    border: 1px solid #181818;
    margin: 3rem 0;
}

#lottie{
    position: absolute;
    right: 0;
    top: 50vh;
}


#firstLottie{
    margin-top: -300px;
    height: 600px;
    width: 600px;
    margin-right: 5vh;
    mix-blend-mode: multiply;
}

#secondLottie{
    margin-top: -300px;
    height: 250px;
    width: 250px;
    margin-right: 5vh;
    mix-blend-mode: multiply;
    display: none;
}

@media screen and (max-width:576px) {
    #glass{
        width: calc(100vw - 2vh) !important;
        height: calc(98vh - 135px ) !important;
        margin-top: -35px;
    }
    
    #firstLottie{
        display: none;
    }

    #cover{
        margin-top: 0;
        height: calc(100vh - 75px);
    }

    .introText{
        margin-top: -30vh;
    }

    .innerText{
        margin-left: 1rem;
    }


    #secondLottie{
        margin-right: 1vh !important;
        margin-top: -300px !important;
        display: block;
        position: sticky;
        top: 100px;
    }
}

@media screen and (max-width:412px) {
    .introLinks a{
        padding-top: 0; 
    }

    .introText{
        margin-top: -35vh;
    }
}


@media screen and (max-width:1600px) {
    #firstLottie{
        margin-top: -250px;
        width: 500px;
        height: 500px;
    }
}

/* @media screen and (max-width:1200px) {
    
    .innerText h1{
        font-size: 36px;
    }
        
    .innerText h3{
        font-size: 16px;
    }  
    
    .innerText{
        max-width: 320px;
    }

    #firstLottie{
        margin-top: -200px;
        width: 400px;
        height: 400px;
    }
} */

@media screen and (max-width:1366px) {
    
    .innerText h1{
        font-size: 32px;
    }
        
    .innerText h3{
        font-size: 14px;
    }  
    
    .innerText{
        max-width: 380px;
    }

    #greyLine{
        margin: 1rem 0 !important;
    }

    #firstLottie{
        margin-top: -200px;
        width: 400px;
        height: 400px;
    }
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.recentProjects{
    padding-top: 8rem;
}

@media screen and (max-width:768px) {
    .recentProjects{
        padding-top: 1.5rem;
    }
}


.project>*{
    margin-bottom: 0.5rem;
}


.imgBox{
    margin: 0 0 2rem;
    border-radius: 4px;
    height: 240px;
    overflow: hidden;
    /* padding: 1rem; */
}

.imgBox:not(.cardOne) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardOne{
    background: linear-gradient(85.33deg, #B2FF80 0%, #D1F7B8 100%);
}

.cardTwo{
    background: linear-gradient(85deg, #A1E6F7 0%, #D5EFF6 100%);
}

.cardThree{
    background: linear-gradient(85.33deg, #CEFF89 0%, #E2F8C3 100%);
}

.cardFour{
    background: linear-gradient(85.33deg, #A1E6F7 0%, #D5EFF6 100%);
}

.cardImg{
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.02));
    border-radius: 10px;
    width: 90%;
    height: auto;
    transform: scale(0.8);
}

.imgBox:hover > .cardImg{
    position:relative;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));   
    transform: scale(0.9);
    transition: 0.6s ease;
    overflow: hidden;
}

.project a{
    text-decoration: none;
    color: inherit;
}

.project a:hover{
    text-decoration: underline;
}

.project>.caption{
    opacity: 0.8;
}

.imgBox:hover{
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg, 
        hsl(57, 43%, 76%) 0%, 
        hsl(106, 43%, 76%) 25%, 
        hsl(192, 43%, 76%) 51%, 
        hsl(346, 43%, 76%) 100%
  );  
  animation: AnimateBG 3s ease infinite;
}

@media screen and (min-width:1400px) {
    #projects{
        --bs-gutter-y:0;
    }

    #projects>.project{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

.more{
    margin-top: -1rem;   
}


.more a{
    text-decoration: none;
    color: inherit;
}

.more a:hover{
    text-decoration: underline;
}

@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

@media screen and (max-width:576px) {
    #goto{
        display: none;
    }   
}