/* Updated font defaults */
body, .body, .bodyHeader, .bodySubHeader {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Merriweather', serif;
  }
  
  /* Theme styles (optional) */
  [data-theme="dark"] {
    --bg: #121212;
    --text: #FAFAFA;
  }
  
  [data-theme="light"] {
    --bg: #FAFAFA;
    --text: #121212;
  }
  